<?xml version="1.0"?>
<!--
/**
 * @category	Solide Webservices
 * @package		CustomSuccessPage
 */
-->
<config>
	<modules>
		<SolideWebservices_Customsuccesspage>
			<version>1.1.0</version>
		</SolideWebservices_Customsuccesspage>
	</modules>
	<global>
		<helpers>
			<customsuccesspage>
				<class>SolideWebservices_Customsuccesspage_Helper</class>
			</customsuccesspage>
		</helpers>
		<blocks>
			<customsuccesspage>
				<class>SolideWebservices_Customsuccesspage_Block</class>
			</customsuccesspage>
			<page>
				<rewrite>
					<html_head>SolideWebservices_Customsuccesspage_Block_Page_Html_Head</html_head>
				</rewrite>
			</page>
			<checkout>
				<rewrite>
					<onepage_success>SolideWebservices_Customsuccesspage_Block_Success</onepage_success>
				</rewrite>
			</checkout>
		</blocks>
		<models>
			<customsuccesspage>
				<class>SolideWebservices_Customsuccesspage_Model</class>
			</customsuccesspage>
		</models>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<customsuccesspage_layout_generate_observer>
						<type>singleton</type>
						<class>customsuccesspage/observer</class>
						<method>loadScripts</method>
					</customsuccesspage_layout_generate_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</global>
	<frontend>
		<routers>
			<customsuccesspage>
				<use>standard</use>
				<args>
					<module>SolideWebservices_Customsuccesspage</module>
					<frontName>customsuccesspage</frontName>
				</args>
			</customsuccesspage>
		</routers>
		<layout>
			<updates>
				<customsuccesspage>
					<file>customsuccesspage.xml</file>
				</customsuccesspage>
			</updates>
		</layout>
		<events>
			<controller_action_postdispatch_contacts_index_post>
				<observers>
					<contact_form_redirect_referer>
						<class>customsuccesspage/observer</class>
						<method>redirectReferer</method>
					</contact_form_redirect_referer>
				</observers>
			</controller_action_postdispatch_contacts_index_post>
		</events>
	</frontend>
	<admin>
		<routers>
			<customsuccesspage_admin>
				<use>admin</use>
				<args>
					<module>SolideWebservices_Customsuccesspage</module>
					<frontName>admin_customsuccesspage</frontName>
				</args>
			</customsuccesspage_admin>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<customsuccesspage>
					<file>customsuccesspage.xml</file>
				</customsuccesspage>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<customsuccesspage>
			<configuration>
				<enabled>1</enabled>
				<enable_jquery>1</enable_jquery>
				<version_jquery>2.1.3</version_jquery>
				<jquery_noconflictmode>1</jquery_noconflictmode>
				<jquery_position>after</jquery_position>
			</configuration>
			<general>
				<pagetitle></pagetitle>
				<intro></intro>
				<print_order>1</print_order>
				<continue_url></continue_url>
				<summary_block>summary</summary_block>
				<show_order_number>1</show_order_number>
			</general>
			<newsletter>
				<newsletter_show>1</newsletter_show>
				<newsletter_position>intro_text</newsletter_position>
				<newsletter_intro></newsletter_intro>
			</newsletter>
			<ordered>
				<items_ordered_sort>1</items_ordered_sort>
				<items_ordered>1</items_ordered>
				<items_ordered_title></items_ordered_title>
				<items_ordered_totals>0</items_ordered_totals>
			</ordered>
			<related>
				<related_products_sort>2</related_products_sort>
				<related_products>1</related_products>
				<related_products_title></related_products_title>
				<related_products_type>related</related_products_type>
				<related_products_number>4</related_products_number>
			</related>
			<cms_blocks>
				<cms_blocks_sort>3</cms_blocks_sort>
				<cms_block_1>none</cms_block_1>
				<cms_block_1_size>half</cms_block_1_size>
				<cms_block_2>none</cms_block_2>
				<cms_block_2_size>half</cms_block_2_size>
				<cms_block_3>none</cms_block_3>
				<cms_block_3_size>half</cms_block_3_size>
			</cms_blocks>
			<social>
				<social_global>0</social_global>
				<social_global_title_show>1</social_global_title_show>
				<social_global_title>Share this website:</social_global_title>
				<social_global_share_text>Check out {{website}}, I just bought something here.</social_global_share_text>
				<social_global_image></social_global_image>
				<social_items_ordered>0</social_items_ordered>
				<social_items_ordered_title_show>1</social_items_ordered_title_show>
				<social_items_ordered_title>Share your product:</social_items_ordered_title>
				<social_items_ordered_share_text>I just bought this product at {{website}}: {{product_name}}</social_items_ordered_share_text>
				<social_facebook>1</social_facebook>
				<social_twitter>1</social_twitter>
				<social_pinterest>1</social_pinterest>
				<social_googleplus>1</social_googleplus>
				<social_opengraph>0</social_opengraph>
			</social>
			<feedback>
				<feedback_intro></feedback_intro>
			</feedback>
		</customsuccesspage>
	</default>
</config>
